*{
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}

.logo{
    font-size: 24px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-spacing: 30px;
}
.menu-popup{
    display: none;
}
.t-hover:hover {
    text-decoration: underline;
}



.About-section {
    opacity: 2;
    background-image: url("https://scitechdaily.com/images/First-Quantum-Programming-Language.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contact-background {
    width: 100%;
    height: 100%;
    background-image: url("./images/backgroundEarth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section img {
    width: 40px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 5px;
}

.thick-text {
    text-decoration-thickness: 20%;
}

#projects {
    background-color: black;
}

#album {
    background-color: black;
}

#designs {
    background-color: black;
}

#all,
form {
    background-color: black;
}

form input,
form textarea,
form button {
    border: solid 2px burlywood;
    border-radius: 15px;
}

.message {
    min-height: 20vh;
    min-width: 100%;
}

.email {
    min-width: 100%;
}

h1 {
    font-family: 'Handjet', cursive;
}

h3 {
    font-family: 'Anton', sans-serif;
}


/*----- Tabs -----*/

.tabs {
    width: 100%;
    display: inline-block;
}




.tab-links:after {
    display: flex;
    flex-direction: row;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 0px;
    float: left;
    list-style: none;
}

.tab-links a {
    padding: 9px 15px;
    display: inline-block;
    margin: 2px;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c;
    transition: all linear 0.15s;
}

.tab-links a:hover {
    background: transparent;
    text-decoration: none;
}

li.active a,
li.active a:hover {
    background: #ca8a04;
    color: #4c4c4c;
}

.tab-content {
    padding: 15px;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: black;
}

.tab {
    display: none;
}

.tab img:hover{
    opacity: 0.3;
}
.tab.active {
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
}



/* font-family: 'Anton', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Handjet', cursive; */


/* font-family: 'Anton', sans-serif;
font-family: 'Edu SA Beginner', cursive;
font-family: 'Handjet', cursive;
font-family: 'Roboto', sans-serif; */


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
    }
    nav {
        align-items: stretch;
        justify-content: space-between;
    }
    .blogs {
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    .tab.active {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .tab .image1,
    .tab .image3,
    .tab .image6 {
        grid-column-end: span 3;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .tab-links li {
        float: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}